[Desktop Entry]
Encoding=UTF-8
Name=Postman
Exec=/snap/bin/postman %U
Icon=/snap/postman/current/usr/share/Postman/resources/app/assets/icon.png
Terminal=false
Type=Application
Categories=Development;
