<VirtualHost *:80>
	ServerName cloud.{{ domain_name }}
	ServerAlias www.cloud.{{ domain_name }}
	RewriteEngine on
	RewriteCond %{HTTP_HOST} ^(www\.)?cloud\.{{ domain_name | replace('.', '\.') }} [NC]
	RewriteRule ^.*$ https://cloud.{{ domain_name }}%{REQUEST_URI} [L,NE,R=301]
</VirtualHost>

SSLStaplingCache "shmcb:/run/oscp(150000)"
<VirtualHost *:443>
	ServerName cloud.{{ domain_name }}
	ServerAlias www.cloud.{{ domain_name }}

	RewriteEngine on
	RewriteCond %{HTTP_HOST} ^www\.cloud\.{{ domain_name | replace('.', '\.') }} [NC]
	RewriteRule ^.*$ https://cloud.{{ domain_name }}%{REQUEST_URI} [L,NE,R=301]

	SSLEngine on
	SSLUseStapling on
	Include /etc/apache2/ssl-options.conf

	DocumentRoot /var/www/nextcloud

	<Directory "/var/www/nextcloud">
		Require all granted
		Options FollowSymlinks MultiViews
		AllowOverride all

		<IfModule mod_dav.c>
			Dav off
		</IfModule>

		SetEnv HOME /var/www/nextcloud
		SetEnv HTTP_HOME /var/www/nextcloud
	</Directory>
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
